################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ViGEmBus/v15
/build/bin/Release
/build/obj/Release
/lib/x64
/packages
/sys/x64/Release
/x64/Release
/x64/Release (dynamic)
/x64/Release (static)
/.tmp
/lib/Release (static)
/Release
/sys/Release
/Release (static)
/build/bin/Debug
/build/obj/Debug
/bin
/sys/x64/Debug
/x64/Debug
/x64/Debug (static)
*.user
/.vs/config
/sys/RCa21300
/sys/RCb21300
/build/*.dotsettings
/artifacts
/.vs/ViGEmBus/DesignTimeBuild
/build/obj
/Debug
/sys/Debug
/sys/ARM/Debug
/lib/Debug (dynamic)/*.log
/sys/RCa25584
Releases
/sys/RCa19160
