//
// Include the necessary resources
//
#include <winver.h>
#include <ntdef.h>

#ifdef RC_INVOKED

//
// Set up debug information
//
#if DBG
#define VER_DBG VS_FF_DEBUG
#else
#define VER_DBG 0
#endif

// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
FILEVERSION             1,16,200,0
PRODUCTVERSION          1,16,200,0
FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
FILEFLAGS               VER_DBG
FILEOS                  VOS_NT
FILETYPE                VFT_DRV
FILESUBTYPE             VFT2_DRV_SYSTEM
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
        BEGIN
		VALUE "Comments",         "Virtual Gamepad Emulation Framework Bus Driver"
		VALUE "CompanyName",      "Nefarius Software Solutions e.U."
		VALUE "FileDescription",  "Virtual Gamepad Emulation Framework Bus Driver"
		VALUE "FileVersion",      "1.16.200.0"
		VALUE "InternalName",     "Virtual Gamepad Emulation Framework Bus Driver"
		VALUE "LegalCopyright",   "(C) 2016-2022 Nefarius Software Solutions e.U."
		VALUE "OriginalFilename", "ViGEmBus.sys"
		VALUE "ProductName",      "Virtual Gamepad Emulation Framework Bus Driver"
		VALUE "ProductVersion",	  "1.16.200.0"
        END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409,1200
	END
END
#endif